/* nav{
    display: flex;
    background-color: #ffff;
    justify-content: space-evenly;
    align-items: center;
}
.leftNav{
    display: flex;
    gap: 40px;
    

}
.rightNav{
    display: flex;
    gap: 40px;
}

.logo{
    width: 150px;

}
.nav-link{
    display: flex;
    text-decoration: none;
    align-items: center;
}
.signup{
    position: relative;
    left: 25px;
    z-index: 1;
    width: 100px;
    height: 30px;
    border-radius: 6px;
    border: none;
    background-color: #00e708;
}
.login{
    position: relative;
    right: 25px;
    width: 100px;
    height: 30px;
    border-radius: 6px;
    border: none;
    background-color:bisque;
    
} */